# This file overrides the blacklist from needrestart.conf.
# It is managed by Ansible.

{% if needrestart_blacklist_bin %}
# Blacklist binaries
push ( @{$nrconf{blacklist}}, (
{% for blacklistbin in needrestart_blacklist_bin %}
    qr(^{{ blacklistbin }}$),
{% endfor %}
    )
);
{% endif %}

{% if needrestart_blacklist_rc %}
#Blacklist services
push ( @{$nrconf{blacklist_rc}}, (
{% for blacklistrc in needrestart_blacklist_rc %}
    qr(^{{ blacklistrc }}$),
{% endfor %}
    )
);
{% endif %}

#Blacklist script files
push ( @{$nrconf{blacklist_interp}}, (
{% for blacklistinterp in needrestart_blacklist_interp %}
    qr(^{{ blacklistinterp }}$),
{% endfor %}
    )
);
