# needrestart - Restart daemons after library updates.
#
# Configure notification globals (shell syntax)
#

# Disable write to tty (notify.d/200-write)
NR_NOTIFYD_DISABLE_WRITE='{{ needrestart_notifyd_disable_write_tty }}'

# Disable needrestart-session (notify.d/300-needrestart-session)
NR_NOTIFYD_DISABLE_NEEDRESTART_SESSION='{{ needrestart_notifyd_disable_needrestart_session }}'

# Disable libnotify (notify.d/400-notify-send)
NR_NOTIFYD_DISABLE_NOTIFY_SEND='{{ needrestart_notifyd_disable_notify_send }}'

# Disable mail to user (notify.d/600-mail)
NR_NOTIFYD_DISABLE_MAIL='{{ needrestart_notifyd_disable_email }}'


# Where to find the shell function library from gettext-base
#GETTEXTLIB='/usr/bin/gettext.sh'
